name: Linters

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v6

      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1

      - name: Cache shards
        uses: actions/cache@v2
        with:
          path: lib
          key: ${{ runner.os }}-shards-${{ hashFiles('**/shard.lock') }}
          restore-keys: ${{ runner.os }}-shards-

      - name: Install shards
        run: shards update

      - name: Run linter
        run: bin/ameba
